<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact Us - Florida Security Clinic</title>
</head>
<body>
  {% include 'header.html' %}
    <h1>Contact Us</h1>
    <form method="POST">
		<p><label for="orgname">Organization Name: </label><input type="text" id="orgname" name="orgname"></p>
		<p>
			<label for="orgdescription">What does your organization do?</label><br />
			<textarea id="orgdescription" name="orgdescription"></textarea>
		</p>
		<p>
			<label for="orgextra">Is there anything else you want the clinic to know about your organization?</label><br />
			<textarea id="orgextra" name="orgextra"></textarea>
		</p>
		<p><label for="pocname">Point Of Contact Name: </label><input type="text" id="pocname" name="pocname"></p>
		<p><label for="pocemail">Email Address: </label><input type="email" id="pocemail" name="pocemail"></p>
		<p><label for="pocphone">Phone Number: </label><input type="tel" id="pocphone" name="pocphone"></p>
		<p>
			<label for="goals">What are you looking to achieve through the clinic's services?</label><br />
			<textarea id="goals" name="goals"></textarea>
		</p>
		<p><input type="submit" value="Submit"></p>
    </form>
</body>