<body>
  <header>
    <div class="above">
      <a href="/" class="logo"><img src="/static/images/logo.svg" alt="Logo for Florida Security Clinic"></a>
      <nav class="nav_bar">
        <li class="bordered"><a href="/contact">Contact Us</a></li>
        <li class="bordered_right"><a href="/client">Client Portal</a></li>
      </nav>
    </div>
    <nav class="nav_bar">
      <li class="bordered"><a href=/about>About Us</a></li>
      <li class="bordered_right"><a href=/expect>What to Expect</a></li>
      <li class="bordered_right"><a href=/outcomes>Client Outcomes</a></li>
      <li class="bordered_right"><a href=/privacy>Privacy Commitment</a></li>
    </nav>
  </header>
</body>