<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page - Florida Security Clinic</title>
</head>
<body>
	{% include 'header.html' %}
	<h1 class="page_title">Florida Security Clinic</h1>
  {% include 'flashes.html' %}
	<p>Welcome to our home page! It is currently a work in progress.</p>
	<p><a href="/privacy">Privacy Policy</a></p>
	<p><a href="/exam">Are you a prospective student? Take the exam here!</a></p>
  {% if current_user.is_authenticated %}
  <p><a href="/dashboard">View your dashboard</a></p>
  {% endif %}
</body>
</html>