<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page - Florida Security Clinic</title>
</head>
<body>
	{% include 'header.html' %}
	<h1 class="page_title">Privacy Policy</h1>
	<p>The Florida Cybersecurity Clinic (FCSC) values the confidentiality of its clients and partners and the privacy of their staff and constituents. The purpose of this Privacy Policy is to define FCSC’s policies and practices to appropriately manage client data.

	<h2>How FCSC Uses Information</h2>
	<p>FCSC uses the data it collects to understand the client’s cybersecurity posture, identify vulnerabilities and risks, and recommend changes to reduce cyberattack risk. FCSC staff will refer to collected data when explaining assessment report findings.</p>

	<h2>Types of Information FCSC Collects</h2>
	<p>The FCSC may collect many types of information about a client, public or internal, over the course of its engagement with a client. This may include, but is not limited to:</p>
	<ul>
		<li>Documentation related to past cyber incidents</li>
		<li>Budgets</li>
		<li>Organizational charts</li>
		<li>Vulnerability assessments</li>
		<li>Strategy documents</li>
		<li>Training materials</li>
	</ul>
	<p>Additionally, the FCSC may collect technical information from the user's browser, including operating system, the type of browser used, and IP address.</p>
	
	<h2>Data Sharing with 3rd parties</h2>
	<p>The FCSC does not sell your personal information to 3rd parties, and all information will be kept in strict confidence.</p>
	<p>The FCSC therefore does not process your data any differently if the "Do Not Track" header is sent, as the FCSC never sells your personal information for advertising purposes.</p>
	
	<h2>How FCSC Collects Information</h2>
	<p>FCSC primarily asks for and collects information from the client. Data may be collected in the form of questionnaires, interviews, or documents that the client provides. The clinic may additionally collect data from open sources.</p>

	<h2>How FCSC Classifies Information</h2>
	<p>Highly Confidential: Highly sensitive data such as trade secrets, sensitive personally identifiable information (PII), and financial information. FCSC should not be collecting this type of data.</p>
	<p>Internal: Data that is meant for internal use only but is not as critical as Highly Confidential data, such as internal memos, budgets, meeting minutes, security policies, training materials, and project plans.</p>
	<p>Public: Data that is openly available to the public, including press releases, advertisements, policies shared with customers, and job opening announcements.</p>
	
	<h2>How long FCSC retains your data</h2>
	<p>Client data will be kept for the duration of 1 year after the end of the engagement. After this time, the data will be anonymized and retained by FCSC.</p>
	<p>As part of routine logging, technical information from your browser will be kept for 10 days, then deleted. In the event of a cyberattack against FCSC, the information from the suspected offenders, including IP address, operating system, and type of browser used, may be kept for the duration of the cyberattack (if longer than 10 days) in order to help defend against it.</p>
	
	<h2>How FCSC Protects and Manages Information</h2>
	<p>FCSC will store client information in a database isolated from the web server when possible. Only the client and certified clinic staff may access this data through authenticating into the web server.</p>

</body>
</html>