<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register - Florida Security Clinic</title>
</head>
<body>
  {% include 'header.html' %}
  <h1 class="page_title">Register</h1>
  {% include 'flashes.html' %}
  <form action="/register" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label }} {{ form.username() }}</p>
    <p>{{ form.first_name.label }} {{ form.first_name() }}</p>
    <p>{{ form.last_name.label }} {{ form.last_name() }}</p>
    <p>{{ form.email.label }} {{ form.email() }}</p>
    <p>{{ form.password.label }} {{ form.password() }}</p>
    <p><label for="show_password">Show Password</label><input type="checkbox" id="show_password" onclick="togglePasswordVisibility()"></p>
    <p>{{ form.selection.label }} {{ form.selection() }}</p>
		<p>{{ form.submit() }}</p>
  </form>
</body>
<script>
  function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password"
    }
  }
</script>
</html>