<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload Page - Florida Security Clinic</title>
</head>
<body>
	{% include 'header.html' %}
  <h2 class="page_title">Upload Files</h2>
  {% include 'flashes.html' %}
  <form action="/dashboard/upload" method="post" enctype="multipart/form-data">
    <label for="file-upload">Select document to upload:</label>
    <input type="file" id="file-upload" name="document">
    <button type="submit">Upload File</button>
  </form>
  <p></p>
  <h2 class="page_title">Uploads</h2>
  {% if files %}
  <table class="tickets">
    <thead>
      <tr><th>File</th><th>Uploaded At</th></tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file[0] }}</td>
          <td>{{ file[1] }} UTC</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</html>