<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page - Florida Security Clinic</title>
</head>
<body>
	{% include 'header.html' %}
	<h1 class="page_title">What to expect</h1>
	<p>First, fill out the contact form on this website.</p>
	<p>Then, clinic volunteers will send you an onboarding form where you fill out information about your organization.</p>
	<p>???</p>
	<p>Profit</p>
	<p>The entire process should take around 3-4 weeks.</p>
</body>
</html>