<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exam - Florida Security Clinic</title>
</head>
<body>
	<h1>Exam created!</h1>
	<p>The exam has been successfully created.</p>
	<p>Please write this information down and give it to the student. Once you navigate away from this page, you will not be able to see this information again.</p>
	<p>First name: {{ fname }}</p>
	<p>Last name: {{ lname }}</p>
	<p>Password: {{ password }}</p>
    <button class="return"><a href="index.html">Return to the exam page</a></button>
</body>
</html>