<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Exam - Florida Security Clinic</title>
</head>
<body>
	<h1>Proctor Interface</h1>
	<form action="/proctor/exam/create" method="post">
		<p><label for="firstname">First name: </label><input type="text" id="firstname" name="firstname" /></p>
		<p><label for="firstname">Last name: </label><input type="text" id="lastname" name="lastname" /></p>
		<p><input type="submit" value="Create exam" /></p>
	</form>
</body>
</html>