<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page - Florida Security Clinic</title>
</head>
<body>
	<img src="/static/images/logo.svg" alt="Logo for Florida Security Clinic" style="width: 25%" />
	<h1>Florida Security Clinic</h1>
	<p>Welcome to our home page! It is currently a work in progress.</p>
	<p><a href="/tickets/new">Create a new ticket</a></p>
</body>
</html>