<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/styles.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New Ticket - Florida Security Clinic</title>
</head>
<body>
	<h1>New Ticket</h1>
	<p>Welcome to our home page! It is currently a work in progress.</p>
	<form action="/tickets/new" method="post">
		<p><label for="name">Name: </label><input type="text" id="name" name="name"></p>
		<p><label for="name">Email: </label><input type="text" id="email" name="email"></p>
		<p><input type="submit" value="Submit"></p>
	</form>
</body>
</html>