.page_title {
  text-align: center;
}

.bordered {
  border: solid;
}

.logo {
  width: 33%;
}

.bordered_right {
  border: solid;
  border-left: none;
}

.above {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.above .logo img {
  width: 100%;
}

.above .nav_bar {
  padding: 0;
  width: 25%;
  height: 75%;
}

.above .nav_bar li {
  flex: 5;
}

.nav_bar {
  padding-top: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav_bar li {
  flex: 1;
}

.nav_bar li a {
  display: block;
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
}

.nav_bar li a:hover {
  background-color: #F3F3F3;
}

h1 {
  color: #1d59c7;
}

body {
  background-color: #F3F3F3;
  color: #133b84;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 7%;
  padding-right: 7%;
}

input[type="submit"], .return a {
    background-color: white; 
    color: #133b84;           
    border: solid #133b84;           
    padding: 10px 20px;        
    cursor: pointer;                     
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;  
    margin-bottom: 10px;      
}

input[type="submit"]:hover, .return a:hover {
    background-color: #133b84;
    color: #F3F3F3;             
}